* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0d0d0d;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 40px 20px;
}

h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 40px;
  color: #fff;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #333;
  transition: 0.4s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: #6a5acd;
  box-shadow: 0px 0px 20px rgba(106, 90, 205, 0.4);
}

.project-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.project-tag {
  background: #6a5acd;
  padding: 6px 12px;
  font-size: 0.8rem;
  width: max-content;
  border-radius: 6px;
  margin: 12px 0 18px;
}

.project-tech .tech-tag {
  display: inline-block;
  margin-right: 8px;
  background: #262626;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.75rem;
  border: 1px solid #333;
}

.project-links {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}


.project-link {
  position: relative;
  padding: 10px 18px;
  border: 2px solid #6a5acd;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: 0.35s ease;
}

.project-link:hover {
  border-color: #9b8cff;
  box-shadow: 0 0 12px #6a5acd;
  letter-spacing: 1px;
}
